@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Click <a asp-page="/CustomerData/Submit">here</a> to submit your data!</p>
</div>
