@page
@model CustomerData.SubmitModel
@{
    ViewData["Title"] = "Submit Form";
}

<h1>Submit Your Details</h1>

@if (Model.ErrorSaving != null)
{
<div class="alert-danger text-center">
    <h4>@Model.ErrorSaving</h4>
</div>    
}

<h4>Your Details</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerDetails.FirstName" class="control-label"></label>
                <input asp-for="CustomerDetails.FirstName" class="form-control" />
                <span asp-validation-for="CustomerDetails.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.LastName" class="control-label"></label>
                <input asp-for="CustomerDetails.LastName" class="form-control" />
                <span asp-validation-for="CustomerDetails.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.DateOfBirth" class="control-label"></label>
                <input asp-for="CustomerDetails.DateOfBirth" class="form-control" />
                <span asp-validation-for="CustomerDetails.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.StreetAddress" class="control-label"></label>
                <input asp-for="CustomerDetails.StreetAddress" class="form-control" />
                <span asp-validation-for="CustomerDetails.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.PhoneNumber" class="control-label"></label>
                <input asp-for="CustomerDetails.PhoneNumber" class="form-control" />
                <span asp-validation-for="CustomerDetails.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails.DriversLicenseNumber" class="control-label"></label>
                <input asp-for="CustomerDetails.DriversLicenseNumber" class="form-control" />
                <span asp-validation-for="CustomerDetails.DriversLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Customers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

