/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Styling for details view */
.detailsSection {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.field {
    overflow: hidden;
    margin-top: 0px;
}

.labelContent {
    float: left;
    width: 28%;
    padding: 0px 1% 0px 1%;
    margin: 0px 0px 0px 10px;
    text-align: right;
    line-height: 20px;
    font-weight: normal;
    font-size: 15px;
    color: #999;
    border-right: 2px solid gray;
}

.botBorder {
    margin-bottom: 0px;
    border-bottom: 2px solid gray;
}

.personContent {
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 30%;
    padding: 0px 4px 0px 8px;
    line-height: 20px;
}

/* Card blocks */

.cardBlock {
    float: left;
    width: 250px;
    max-width: 250px;
    height: 150px;
    max-height: 150px;

}